<form action="/" method="post"> <div class="container">
    <div class="row">
        <div class="col"><p><label for="username">ID в дискорде:</label></p></div>
        <div class="col"><input type="text" name="ID"></div>
    </div>
    <div class="row">
        <div class="col"><p><label for="password">Пароль:</label></p></div>
        <div class="col"><input type="password" name="password"></div>
    </div>
    <div class="row">
        <div class="col"><p><input type="submit" name="login">
        </div>
    </div>
</div>
<img src="static/пример.png">