<form action="/register" method="post"> <div class="container">
    <div class="row">
        <div class="col"><p><label for="ID">ID в дискорде:</label></p></div>
        <div class="col"><input type="text" name="ID"></div>
    </div>
    <div class="row">
        <div class="col"><p><label for="Login">Логин:</label></p></div>
        <div class="col"><input type="text" name="Login"></div>
    </div>
    <div class="row">
        <div class="col"><p><label for="password">Пароль:</label></p></div>
        <div class="col"><input type="password" name="password"></div>
    </div>
    <div class="row">
        <div class="col">
            <p><input value="Зарегистрироваться" type="submit" name="register" class="btn btn-primary">
        </div>
        <div class="col">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
        </div>
    </div>
</div>
</form>